<div class="row">
    <div class="col-12 mt-4 mx-4">
        <form action="/logout" method="POST">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>
</div>